<%= form_with(model: feed, local: true, url: choose_new_or_edit ) do |form| %>
  <div class="feed_content">
    <%= form.label :"What's up?" %>
    <%= form.text_field :content %>
  </div>
  <div class="feed_image">
    <%= form.label :memory %>
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
    <%= form.file_field :image %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="actions">
    <%= form.submit "Post" %>
  </div>
<% end %>
