<% @feeds.each do |feed| %>
  <div class="content row">
    <p class="alert alert-info col-xs-12"><%= "#{feed.user.name}さんの投稿" %></p>
    <p class="content_text col-xs-12"><%= feed.content %></p>
    <div class=image_area><%= image_tag feed.image.url %></div>
    <ul class="row">
      <%= link_to 'Show', feed, class: 'btn btn-default btn-xs col-xs-1' %>
      <% if current_user == feed.user %>
        <%= link_to 'Edit', edit_feed_path(feed), class: 'btn btn-default btn-xs col-xs-1' %>
        <%= link_to 'Delete', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs col-xs-1' %>
      <% end %>
    </ul>
  </div>
<% end %>
